.personal-info h2 {
    padding: 7% 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: block;
}

.personal-info h2 > div {
    padding: 20px 0;
}

.personal-info .photo-area {
    height: 100%;
    width: 100%;
    justify-items: center;
    background-color: rgb(134, 168, 65);
}

.personal-info .door {
    background-color: azure;
}