.swiper-slide .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;
    padding-right: 10%;
    --trapezoid-angle: 0.6;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 1s;
    --trapezoid-color: var(--visual-color);
}

@media not screen and (min-width: 1200px) {
    .swiper-slide .info {
        background-color: rgb(78, 78, 78);
    }
}

.ai {
    background-image: paint(trapezoid), url("../image/info-ai.jpg");
    --visual-color: DarkOliveGreen;
}

.front {
    background-image: paint(trapezoid), url("../image/info-ai.jpg");
    --visual-color: DarkMagenta;
}

.back {
    background-image: paint(trapezoid), url("../image/info-ai.jpg");
    --visual-color: DarkCyan;
}


.strength {
    background-image: paint(trapezoid), url("../image/info-strength.jpg");
    --visual-color: DarkKhaki;
} 


.text-area {
    line-height: 1.6;
    color: ghostwhite;
}

.text-area p {
    font-size: 20px;
    color: rgb(238, 236, 236);
}

.btn-area {
    text-align: right;
    margin: 10% 0px 0px 100px;
}

canvas {
    z-index: 1000;
}

.pagination-area {
    margin: 5% 0px 0px 100px;
    color: white;
    font-size: 20px;
}