header {
    transition: 1s ease;
}

.transBar *{
    color: white;
    transition: color 1s;
}
.whiteBar {
    background-color: rgb(254, 254, 254);
}

.noneBar {
    position: fixed;
    top: -90px;
}

header > .inner {
    margin: 0% 2% 0% 2%;
}

header h1 {
    margin: 0%;
    padding: 10px 15px;
    display: inline-flex;
}

h1 a img {
    height: 50px;
}

@media only screen and (max-width: 1200px) {
    nav ul {
    display: none;
    }
}

nav {
    margin-left: 50px;
    display: inline-flex;
}

ul {
    list-style-type: none;
    margin: 0%;
    margin-bottom: 10px;
    padding: 0%;
}

ul li {
    display: inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 20px;
}

ul li:first-child {
    border-left: none;
}

ul li a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

ul li a:hover {
    font-weight: 900;
    color: rgb(128, 128, 128);
}

.header-util {
    margin-right: 2%;
    float: right;
    padding: 15px 0px;
    display: inline-flex;
}

.header-util a img {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}