header {
    background-color: rgb(254, 254, 254);
}

header > .inner *{
    display: inline-flex;
}

header > .inner {
    margin: 0% 2% 0% 2%;
    justify-content: space-between;
}

header h1 {
    margin: 0%;
    padding: 10px 15px;
}

a img {
    height: 50px;
}

nav {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

ul li {
    display: inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 20px;
}

ul li:first-child {
    border-left: none;
}

ul li a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

ul li a:hover {
    font-weight: 900;
    color: #030203;
}

.header-util {
    margin-right: 2%;
    float: right;
    padding: 10px 0px;
}